
p {
  color:rgb(5, 5, 5);
  text-align: center;
  background-color: aliceblue;
  font-size: 1em;
}
.center {
    margin: auto;
    width: 60%;
    border: 3px solid #080a05;
    padding: 10px;
  }

  h2{
    color:antiquewhite;
  }